* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    background-color: rgb(184, 187, 194);
    padding-top: 96px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    gap: 10px;
}

button {
    cursor: pointer;
    font-size: 36px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width:50px;
    height: 50px;
    border: 0px solid rgb(0, 255, 13);
    border-radius: 6px;
    background-color: white;
    /* color: rgb(255, 247, 240); */
    
    
}

button:active {
    
    transform: translateY(3px);
    box-shadow:0px -2px 2px 2px rgb(85, 85, 85), inset 0 0 3px rgb(53, 53, 53);
}
/* button:hover {
    background-color: rgb(233, 233, 233);
} */



.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 6px;
    background-color: rgb(235, 255, 255);
    height: 50px;
    width:290px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow:0px -2px 2px 2px rgb(85, 85, 85), inset 0 0 3px rgb(53, 53, 53);
}

.display-contents {
    font-size: 36px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    max-width: 256px;
}

.display-bar {

    display: flex;
    /* flex-direction: column; */
    font-size: 32px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* height: 50px; */
    letter-spacing: 3px;
    width: 36px;
    justify-content: end;
}

.operation {
    background-color: rgb(30, 255, 0);
    color: rgb(130, 255, 100);
    font-weight: 700;
    box-shadow:0px 3px 2px 2px rgb(50, 100, 50), inset 0 0 3px rgba(39, 39, 39, 0.87);
    text-shadow:0px 1px 4px rgb(50, 100, 50);
}

.equals {
    background-color:rgb(0, 225, 255);
    color: rgb(100, 225, 255);
    min-width: 110px;
    font-weight: 700;
    box-shadow:0px 3px 2px 2px rgb(50, 100, 50), inset 0 0 3px rgba(39, 39, 39, 0.87);
    text-shadow:0px 1px 4px rgb(50, 100, 50);
}

.num {
    background-color:rgb(255, 255, 0);
    color: rgb(255, 255, 100);
    font-weight: 700;
    box-shadow:0px 3px 2px 2px rgb(100, 100, 50), inset 0 0 3px rgba(39, 39, 39, 0.87);
    text-shadow:0px 1px 4px rgb(100, 100, 50);
}

.utility {
    background-color:rgb(255, 200, 0);
    color: rgb(253, 200, 110);
    font-weight: 700;
    box-shadow:0px 3px 2px 2px rgb(100, 80, 50), inset 0 0 3px rgba(39, 39, 39, 0.87);
    text-shadow:0px 2px 3px rgb(100, 80, 50);
}

.cancel {
    background-color:rgb(255, 100, 75);
    color: rgb(255, 135, 100);
    font-weight: 700;
    box-shadow:0px 3px 2px 2px rgb(100, 50, 50), inset 0 0 3px rgba(39, 39, 39, 0.87);
    text-shadow:0px 1px 4px rgb(100, 50, 50);
}

.display-e {
    height: 22 px;
    width: 18px;
}

.display-operator {
    height: 22 px;
    width: 18px;
}