* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-size: 32px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width:50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
}

button:hover {
    background-color: lightgray;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    gap: 10px;
}

.display {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:290px;
    height: 50px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}